<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Documento <%= documento.id_doc %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h2>Editar Documento <%= documento.id_doc %></h2>
        <form action="/update_documento/<%= documento.id_doc %>" method="POST">
           
            <input type="hidden" id="userId" name="userId" value="<%= userId %>">
            
            <div class="form-group">
                <label for="editDescricao">Descrição do Documento:</label>
                <input type="text" class="form-control" id="editDescricao" name="editDescricao" value="<%= documento.descricaoDoc %>" required>
            </div>
            <div class="form-group">
                <label for="editDataVencimento">Data de Vencimento:</label>
                <input type="date" class="form-control" id="editDataVencimento" name="editDataVencimento" value="<%= documento.data_vencimento %>" required>
            </div>
            <button type="submit" class="btn btn-primary">Salvar Mudanças</button>
        </form>
    </div>
    

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script> 
</body>
</html>
